################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/slnx.sqlite
/.vs/StudentDailyLifeManager_Clone.slnx/v18
/.vs/StudentDailyLifeManager_Clone.slnx/v18/.wsuo
/.vs/StudentDailyLifeManager_Clone.slnx/v18/DocumentLayout.backup.json
/.vs/StudentDailyLifeManager_Clone.slnx/v18/DocumentLayout.json
/.vs/VSWorkspaceState.json
/StudentDailyLifeManager
/StudentDailyLifeManager/.vs/StudentDailyLifeManager.slnx
/StudentDailyLifeManager/.vs/StudentDailyLifeManager.slnx/FileContentIndex
/StudentDailyLifeManager/.vs/StudentDailyLifeManager.slnx/FileContentIndex/27922135-a849-45f4-bb4b-2ef92b2b0d20.vsidx
/StudentDailyLifeManager/.vs/StudentDailyLifeManager.slnx/FileContentIndex/7d3ca5ee-746d-489e-a0ac-85fb2cec6a94.vsidx
/StudentDailyLifeManager/.vs/StudentDailyLifeManager.slnx/v18
/StudentDailyLifeManager/.vs/StudentDailyLifeManager.slnx/v18/.suo
/StudentDailyLifeManager/.vs/StudentDailyLifeManager.slnx/v18/DocumentLayout.json
/StudentDailyLifeManager/StudentDailyLifeManager
/StudentDailyLifeManager/StudentDailyLifeManager/Form1.cs
/StudentDailyLifeManager/StudentDailyLifeManager/Form1.Designer.cs
/StudentDailyLifeManager/StudentDailyLifeManager/Form1.resx
/StudentDailyLifeManager/StudentDailyLifeManager/obj
/StudentDailyLifeManager/StudentDailyLifeManager/obj/Debug/net10.0-windows
/StudentDailyLifeManager/StudentDailyLifeManager/obj/Debug/net10.0-windows/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/StudentDailyLifeManager/StudentDailyLifeManager/obj/Debug/net10.0-windows/StudentDailyLifeManager.AssemblyInfo.cs
/StudentDailyLifeManager/StudentDailyLifeManager/obj/Debug/net10.0-windows/StudentDailyLifeManager.AssemblyInfoInputs.cache
/StudentDailyLifeManager/StudentDailyLifeManager/obj/Debug/net10.0-windows/StudentDailyLifeManager.assets.cache
/StudentDailyLifeManager/StudentDailyLifeManager/obj/Debug/net10.0-windows/StudentDailyLifeManager.designer.deps.json
/StudentDailyLifeManager/StudentDailyLifeManager/obj/Debug/net10.0-windows/StudentDailyLifeManager.designer.runtimeconfig.json
/StudentDailyLifeManager/StudentDailyLifeManager/obj/Debug/net10.0-windows/StudentDailyLifeManager.GeneratedMSBuildEditorConfig.editorconfig
/StudentDailyLifeManager/StudentDailyLifeManager/obj/Debug/net10.0-windows/StudentDailyLifeManager.GlobalUsings.g.cs
/StudentDailyLifeManager/StudentDailyLifeManager/obj/project.assets.json
/StudentDailyLifeManager/StudentDailyLifeManager/obj/project.nuget.cache
/StudentDailyLifeManager/StudentDailyLifeManager/obj/Release/net10.0-windows
/StudentDailyLifeManager/StudentDailyLifeManager/obj/Release/net10.0-windows/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/StudentDailyLifeManager/StudentDailyLifeManager/obj/Release/net10.0-windows/StudentDailyLifeManager.AssemblyInfo.cs
/StudentDailyLifeManager/StudentDailyLifeManager/obj/Release/net10.0-windows/StudentDailyLifeManager.AssemblyInfoInputs.cache
/StudentDailyLifeManager/StudentDailyLifeManager/obj/Release/net10.0-windows/StudentDailyLifeManager.GeneratedMSBuildEditorConfig.editorconfig
/StudentDailyLifeManager/StudentDailyLifeManager/obj/Release/net10.0-windows/StudentDailyLifeManager.GlobalUsings.g.cs
/StudentDailyLifeManager/StudentDailyLifeManager/obj/StudentDailyLifeManager.csproj.nuget.dgspec.json
/StudentDailyLifeManager/StudentDailyLifeManager/obj/StudentDailyLifeManager.csproj.nuget.g.props
/StudentDailyLifeManager/StudentDailyLifeManager/obj/StudentDailyLifeManager.csproj.nuget.g.targets
/StudentDailyLifeManager/StudentDailyLifeManager/Program.cs
/StudentDailyLifeManager/StudentDailyLifeManager/StudentDailyLifeManager.csproj
/StudentDailyLifeManager/StudentDailyLifeManager/StudentDailyLifeManager.csproj.user
/StudentDailyLifeManager/StudentDailyLifeManager.slnx
